# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.scss]
indent_style = tab
indent_size = 4

[*.js]
indent_style = tab
indent_size = 2

[{*.json,*.yml}]
indent_style = tab
indent_size = 2