@mixin button-variant($state, $bgColor, $textColor) {
    .btn-#{$state} {
        color: $textColor;
        background-color: $bgColor;
        &:hover {
            background-color: darken($bgColor, 7%);
        }
        &.active, &:active, &.focus, &:focus{
            background-color: darken($bgColor, 7%);
            box-shadow: none;
            outline: none;
            outline-offset: 0;
            &:active, &:focus {
                background-color: darken($bgColor, 7%);
                box-shadow: none;
                outline: none;
                outline-offset: 0;
            }
            &:hover {
                background-color: darken($bgColor, 14%);
                border-color: darken($bgColor, 10%);
            }
        }
    }
}

@mixin button-group-variant($buttonState, $buttonColor) {
    .btn-group-vertical,
    .btn-group {
        .btn-#{$buttonState} {
            border: 1px solid darken($buttonColor, 10%);
        }
    }
}