doctype html
html
    head
        include ../partials/head
        block meta

    body
        include ../partials/navbar
        block content

        include ../partials/externalJs
        include ../partials/js
        include ../partials/foot
        block js